<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/tienda.css" rel="stylesheet">

    <title>Tienda</title>
</head>

<body>

    <div class="div_introduction">

        <%- include("titulo") %>
    </div>
    <div class="container sobre-list">
        <div class="row">
            <% for (var i=0; i < sobres.length; i++) { %>
                <div class="col-sm-3 ">
                    <div class="sobre-item ">
                        <h4><b>
                                <%= sobres[i].NOMBRE %>
                            </b></h4>
                        <div class="sobre" style="background-image: url('/tienda/imagen<%= sobres[i].ID%>');">
                        </div>
                        <div class="row">
                            <div class="col-6 my-1">
                                <p>Precio: $<%= sobres[i].PRECIO %>
                                </p>
                            </div>
                            <div class="col-6 my-1">
                                <button type="button" class="btn-comprar"> Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <footer><%- include("layout_principal") %></footer>

</body>

</html>